*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #255EE9;
    --second-color: #FFFFFF;
    --third-color: #F5F5F5;
    --fourth-color: #7289DA;
    --fifth-color: #23272A;
}

.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}


ul{
    list-style: none;
}

a{
    color:white;
    padding: 6px 12px ;
    display: inline-block;
    text-decoration: none;
}

body{
    font-family: 'Noto Sans' ;
}

h1{
    font-size: 2em;
    padding: 20px 0;
}

p{
    line-height: 1.8em;
    font-size: 1.2em;
    padding: 15px 0;
}

/*header*/
header{
    background-color: #255EE9 ;
}

.nav-content{
    padding-top: 10px;
}



#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.disp-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.cont-center{
    justify-content: center;
    padding-top: 100px; 
}

.h-content{
    max-width: 800px;
    text-align: center;
    color: #FFFFFF;
}

footer{
    background-color: #23272A;
    color: #FFFFFF;
}

.footitle{
    color: var(--fourth-color);
}

.even{
    background-color: var(--third-color);
}

.button {
    background-color: var(--second-color);
    border-radius: 20px;
    color: var(--fifth-color);
    padding: 10px 20px;

}

.button-dark{
    background-color: var(--fifth-color);
    color: var(--second-color);
}